@charset "utf-8";

/* DEFAULT */
html, body,
div, span,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
blockquote, p, address, pre, cite,
form, fieldset, input, textarea, select,
table, th, td {
	margin:0;
	padding:0;
}
div,ol,ul,li,dl,dt,dd,p,span,em{ list-style:none; }
table{ border-spacing:0; }

/* COMMON */
html,body{ width:100%; height:100%; font-family:'suitM'; }
input, textarea, select, a{ font-family:'suitM'; outline:none; vertical-align:middle; }
header,footer,article,section,aside,div,p,span,h1,h2,h3,a,ul,li,input,select,textarea{ box-sizing:border-box; }
h1,h2,h3{ font-weight:normal; }
label{ cursor:pointer; }
a, button{ font-family:inherit; font-size:inherit; color:inherit; text-decoration:none; cursor:pointer; vertical-align:middle; }
em{ font-style:normal;}
b{ font-weight:normal; color:inherit; }
::placeholder{ color:#c5c5c5; }
input.miss{ background-color:#ffe0e0; }
form{height: 100%;}
/* start */
#book{display:flex;flex-wrap: wrap;padding:15px;}
#book li.pay{display:none;}
#book li.pay.on{display:block;}
#book li {display:flex;flex-direction: column; font-size:16px;font-weight: bold;flex: 0 0 23%;padding:20px;margin:1%;box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);}
#book li span{display:block;}
#book li span.free{color:red;}
#book li span.pay{color:#ddd;}
img{width:212px;height:272px;}

#toggleBtn{border:none;background-color:#d0d3f2;border-radius: 3px;min-width: 100px;height:45px;margin:35px;}
#toggleBtn:hover{background-color: #fff;border:1px solid #d0d3f2;color:#333;}
